body {
	margin: 0 auto;
	padding: 0;
	background-color: tomato; 
	font-size: 18px;
	font-family: sans-serif;
	overflow-y: scroll;
}

#nav {background-color: #222;}

#nav_wrapper {
	width: 960px;
	height: 35px;
	margin: 0 auto;
	text-align: left;
	
}

#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;

}

#nav ul li {
	display: inline-block;
}

#nav ul li:hover {
	background-color: #333;

}

#nva ul li a, visited {
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#nav ul li a:hover {

}




#outerbox {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	background-image: url(code.png);
}

#sliderbox img {float: left;}
	
#sliderbox {
	position: relative;
	width: 3840px;
	animation: 20s slider infinite;
	
}

@keyframes slider {

	0% {left: 0px;} 20% {left: 0px;}
	
	25% {left: -960px;} 45% {left: -960px;}
	
	50% {left: -1920px;} 70% {left: -1920px;}
	
	75% {left: -2880px;} 95% {left: -2880px;}
	
	100% {left: -3840px;}
}
